.LoginBox {
  background-color: #fff;
  border: 1px solid #d8d7d7;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
}

.SingUpText {
  text-align: center;
}
